body
{
    width: 99%;
    height: 90%;

}
header{
 width: 100%;
height:90% ;
background-image: linear-gradient( to right ,rgb(67, 159, 202),rgb(26, 77, 90) );

}
.part1
{

color: black;
font-size:100%;
display: flex;

}
nav ul {
    list-style-type: none;
    margin-left:75%;
    padding: 0;
    
}
nav ul li {
    display: inline;
    margin-right: 20px;
    
}
nav ul li a {
    color:rgb(236, 18, 18);
    text-decoration: none;
}
.part1> h1{
    text-align: left;
    padding-left: 1%;
    color: #f0f3f2;

}
.part1> p{
    text-align: center;
    padding-left: 20%;
    color: #b60f0f;

}
.part1>input 
{
    width: 18%;
    height: 15%;
    margin-top: 2%;
    margin-left:18%;
}
.part1> button{
    width: 10%;
    height: 15%;
    margin-top: 2%;
}
.part2{

    margin-top:1%;
    
    background-image: url('../chekcss2/imge/rt.jpg');
    width: 100%; /* Ajustez la largeur selon vos besoins */
    height: 500px; /* Ajustez la hauteur selon vos besoins */
    background-size:99%; /* Ajuste la taille de l'image pour couvrir entièrement le conteneur sans déformer l'image */
    background-position: center; /* Centre l'image de fond */
    background-repeat: no-repeat;

}
.shop
{
    margin-left: 50%; background-color:rgb(236, 18, 18);border-radius: 5px; padding: 10px 20px; cursor: pointer;
}
.sigle{
    display: flex;
    flex-direction: row;
    gap: 8%;
    padding-left: 3%;
}
.cardp{
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-left: 2%;
}
.card-body>a {
    margin-left: 30%;
}

footer {
    width: 100%;
    height:150px ;
    margin-top: 5%;
    background-image: linear-gradient( to right ,rgb(158, 216, 216),rgb(26, 77, 90) );
    color: #131212;
    padding: 20px 0;
  }
  .footer a {
    color: #9e9191;
  }
  .social-icons {
    list-style: none;
    padding: 0;
  }
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  .social-icons li:last-child {
    margin-right: 0;
  }
  .social-icons li a {
    color: #fff;
    font-size: 20px;}

    @media (max-width: 576px) { /* ... */ } 
 /* Small devices (landscape phones, 576px and up)  */
	@media (min-width: 576px) and (max-width: 768px) { /* ... */ } 
 /* Medium devices (tablets, 768px and up)  */
	@media (min-width: 768px) and (max-width: 992px)  { /* ... */ } 
 /* Large devices (desktops, 992px and up)  */
	@media (min-width: 992px) and (max-width: 1200px)  { /* ... */ } 
 /* Extra large devices (large desktops, 1200px and up)  */
	@media (min-width: 1200px) { /* ... */ } 
